body {
    font-size: 18px;
    font-family: Apple Chancery, cursive; 
    margin: 0;
    padding: 0;
    background-color: rgb(31, 28, 28);
}

header {
    border: 5px solid rgba(229, 213, 197, 0.553);
}
.bg-body-tertiary {
    background-color: rgb(31, 28, 28) !important;
}
nav ul {
    display: flex; 
}

nav ul li {
    margin: 0 15px;
}

.user-info {
    padding-right: 15px;
}

main{
    display: flex;
    border-right: 5px solid rgba(229, 213, 197, 0.553);
}

ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
}
footer{
    background-color: rgb(31, 28, 28);
    display: flex;
    border: 5px solid rgba(229, 213, 197, 0.553);
}
.icon_tg{
    height: 25px;
    width: 25px;
}
.icon_vk{
    height: 25px;
    width: 25px; 
}

.myname {
    flex: 1; 
    text-align: center;
}
#Navig{
    display: flex;
    width: 250px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.xxx{
    margin-top: 10px;
    margin-bottom: 10px;
}
.xxx::before{
    content: "•";
    margin-right: 5px
}

p {
    color: rgba(229, 213, 197, 0.553); /*ЦВЕТ*/
}

.myname p {
    color: rgba(229, 213, 197, 0.553); /*ЦВЕТ*/
}
nav ul li a {
    text-decoration: none;
    color: rgba(229, 213, 197, 0.553); /*ЦВЕТ*/
}
h3 {
    color: rgba(229, 213, 197, 0.553); /*ЦВЕТ*/
}

h2 {
    color: rgba(229, 213, 197, 0.553); /*ЦВЕТ*/
}

h4 {
    margin-top: 0px; 
    color: rgba(229, 213, 197, 0.553); /*ЦВЕТ*/
}
#ochoba{
    display: flex;
    flex-direction: column;
}
h4 a{
    color: rgba(229, 213, 197, 0.553);
    text-decoration: none;
}
h4 a:active{
    color: rgba(229, 213, 197, 0.846);
}
a:active{
    color: rgba(229, 213, 197, 0.846);
}

.video_x{
    margin-left: 160px;
    margin-top: 10px;
    margin-bottom: 10px;
}





/* zzzzzzzzzzzzzzzzzzzzz */
body header .container-fluid{
    background-color: rgb(31, 28, 28);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.navbar-toggler-icon {
    width: 15px !important;
    height: 15px !important;
}
.navbar-toggler {
    background-color: rgba(229, 213, 197, 0.553);/* Ваш цвет фона */
    border:none;
    padding-bottom: 6px;
    padding-top: 0px;
}

h6{
    color: rgba(229, 213, 197, 0.553);
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
}
h5{
    color:rgba(229, 213, 197, 0.553);
}
/* панель навигации */


/* середина */
.col-4{
    position: fixed;
    width: 14%;
    border-right: 0px;
    padding-top: 20px;
    padding-left: 5px;
}
main{
    display: flex;
    justify-content: space-between;
    border-right: 5px solid rgba(229, 213, 197, 0.553);
}
.border-end{
    border-right: 0px !important;
    padding-right: 0px !important;
}
.col-8{
    width: 84%;
    padding: 12px;
}
aside{
    width: 100%;
    border-right: 5px solid rgba(229, 213, 197, 0.553);
    border-left: 5px solid rgba(229, 213, 197, 0.553);
}
.nav-pills {
    --bs-nav-pills-link-active-bg: rgba(229, 213, 197, 0.553); /* цвет иконки */
    --bs-nav-pills-link-active-color: rgb(31, 28, 28); /* цвет текста в иконке */
}
.nav{
    --bs-nav-link-color: rgba(229, 213, 197, 0.553); /* цвет текста который не в иконке */
    --bs-nav-link-hover-color: rgba(229, 213, 197, 0.846); /* цвет наведения на иконку */
}
main p{
    color: rgba(229, 213, 197, 0.553);
}
/* тема 1 (середина) */
#item-1{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 26rem !important;
}
.navbar-brand h4{
    display: none;
}
h5:hover{
    color: rgba(229, 213, 197, 0.846);
    transition: 1s;

}
a:hover{
    color: rgba(229, 213, 197, 0.846);
    transition: 1s;
}

@media (max-width: 450px){
    aside{
        display: none;
    }

    .video_x{
        width: 360px;
        height: 200px;
        margin-left: 0rem;
    }
    .navbar-brand h4{
        display: block;
    }
    main{
    border-left: 5px solid rgba(229, 213, 197, 0.553);
    }
    *, ::after, ::before {
        box-sizing:var(--bs-nav-link-color);
    }
}


